<center>
  <h3> <%= current_client.email %> </h3>
  <br>
  <%= image_tag(current_client.image.url, alt: 'Image', style: 'max-width:300px;max-height:300px') if current_client.image? %>

  <%= form_tag(search_page_path, :method => "get") do %>
    <div class="input-group">


      <%= select_tag(:search, options_from_collection_for_select(@clients, :email, :email)) %>

      <div class="input-group-btn">
        <%= submit_tag "search",:name => nil%>
      </div>
    </div>
  <% end %>



  <h2>Текущие заявки</h2>
  <p>(нажмите на заголовок для сортировки)</p>
</center>

<%= page_entries_info @packages %>
<%= paginate @packages %>
<%= render "packages_list" %>