<center>
  <%= link_to "Выйти", destroy_client_session_path, method: :delete %>

  <h3> <%= current_client.email %> </h3>
  <br>
  <%= link_to "Отправить посылку", new_package_path, style: 'color:blue; font-size:20px'  %>
  <br>
  <br>
  <%= image_tag(current_client.image.url, alt: 'Image', style: 'max-width:300px;max-height:300px') if current_client.image? %>
  <h2>Текущие заявки</h2>
  <p>(нажмите на заголовок для сортировки)</p>
</center>

<%= page_entries_info @packages %>
<%= paginate @packages %>
<%= render "packages_list" %>






